$accent: #BB0000;
$primary: #111432;
$background: #E5FAFF;

$page-width: 990px;

html {
    background-color: #000;
}

body {
    background-color: $background;
    width: $page-width;
    height: 100%;
    margin: 0 auto;
}

* {
    font-family: 'B612', sans-serif;
}

h1, h2, h3, p {margin: 0;}
h1, h2, h3{
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: 400;
}
h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
p  {font-size: 18px;}
.hero .cta p {font-size: 20px;}

a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.button-primary, .button-secondary {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 3px solid $primary;
}

.button-primary {
    background-color: $primary;
    color: $background;
}

.button-secondary {
    background-color: transparent;
    color: $primary;
}

header {
    background-color: $primary;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        line-height: 0;
        img {
            width: 150px; height: auto;
        }
    }
    .sections {
        display:flex;
        flex-direction: row;
        gap: 30px;
        color: $background;
    }
}

main {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .cta {
        width: 420px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: justify;
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    img {
        width: 420px;
        height: auro;
    }
}

.features {
    margin: 0 50px;
    color: $background;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    .card {
        width: 370px;
        padding: 25px;
        background-color: $primary;
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 10px;
            img {width: 45px; height: 45px;}
        }
    }
}

.contact {
    color: $background;
    padding: 30px 50px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .info {
            gap: 5px;
        }
    }
}

.demonstration {
    margin: 0 50px;
}

@media (max-width: 989px) {
    body {
        width: 100vw;
    }
    main {
        margin: 30px 0;
        gap: 30px;
    }
    header {
        padding: 30px;
    }
    .hero {
        margin: 0 30px;
    }
    .features {
        margin: 0 30px;
        justify-content: space-between;
        gap: 30px;
    }
    .contact {
        padding: 30px;
    }
    .demonstration {
        margin: 0 30px;
    }
}

@media (max-width: 929px) {
    body {
        width: 100vw;
    }
    h1 {font-size: 26px;}
    h2 {font-size: 20px;}
    h3 {font-size: 16px;}
    p  {font-size: 16px;}
    .hero .cta p {font-size: 18px;}
    header .logo img {width: 120px; height: auto;}
    .button-primary, .button-secondary {
        width: 130px;
        height: 30px;
    }
    .hero {
        .cta {
            width: 340px;
        }
        img {
            width: 340px;
            height: auto;
        }
    }
    .features {
        justify-content: space-between;
        gap: 30px;
        .card {
            padding: 20px;
            width: 300px;
            .title {
                gap: 5px;
                margin-bottom: 5px;
                img {width: 30px; height: 30px;}
            }
        }
    }
}

@media (max-width: 769px) {
    h1 {font-size: 24px;}
    h2 {font-size: 18px;}
    h3 {font-size: 14px;}
    p  {font-size: 14px;}
    .hero .cta p {font-size: 16px;}
    .hero {
        .cta {
            gap: 5px;
            width: 315px;
        }
        img {
            width: 315px;
            height: auto;
        }
    }
    .features .card {
            width: 275px;
    }
}

@media (max-width: 719px) {
    h1 {font-size: 20px;}
    h2 {font-size: 15px;}
    h3 {font-size: 13px;}
    p  {font-size: 12px;}
    .hero .cta p {font-size: 14px;}
    header .sections {gap: 10px;}
    .button-primary, .button-secondary {
        width: 120px;
        height: 25px;
        border: 2px solid $primary;
    }
    .hero {
        .cta {
            width: 265px;
        }
        img {
            width: 265px;
            height: auto;
        }
    }
    .features {
        .card {
            padding: 15px;
            width: 235px;
        }   
    }
}

@media (max-width: 619px) {
    h1 {font-size: 18px;}
    h2 {font-size: 13px;}
    h3 {font-size: 11px;}
    p  {font-size: 10px;}
    .hero .cta p {font-size: 12px;}
     main {
        margin: 15px 0;
        gap: 15px;
    }
    header {
        padding: 15px;
        .logo img {
            width: 90px; height: auto;
        }
    }
    .button-primary, .button-secondary {
        width: 100px;
        height: 20px;
        border: 1px solid $primary;
    }
    .hero {
        margin: 0 15px;
        .cta {
            width: 235px;
        }
        img {
            width: 235px;
            height: auto;
        }
    }
    .features {
        margin: 0 15px;
        gap: 15px;
        .card {
            padding: 10px;
            width: 215px;
            .title img {width: 20px; height: 20px;}
        }   
    }
    .contact {
        padding: 15px;
    }
    .demonstration {
        margin: 0 15px;
    }
}

@media (max-width: 514px) {
    h1 {font-size: 14px;}
    h2 {font-size: 11px;}
    h3 {font-size: 10px;}
    p  {font-size: 8px;}
    .hero .cta p {font-size: 9px;}
    header .logo img {
        width: 70px; height: auto;
    }
    .button-primary, .button-secondary {
        width: 70px;
        height: 17px;
    }
    .hero {
        .cta {
            gap: 5px;
            width: 185px;
        }
        img {
            width: 185px;
            height: auto;
        }
    }
    .features {
        .card {
            width: 165px;
            .title {
                gap: 3px;
                margin-bottom: 3px;
                img {width: 14px; height: 14px;}
            }
        }   
    }
}

@media (max-width: 414px) {
    main {
        margin: 10px 0;
        gap: 10px;
    }
    header {
        padding: 10px;
    }
    .hero {
        margin: 0 10px;
    }
    .features {
        margin: 0 10px;
        justify-content: space-between;
        gap: 10px;
    }
    .contact {
        padding: 10px;
    }
    .demonstration {
        margin: 0 10px;
    }
}

@media (max-width: 399px) {
    h1 {font-size: 11px;}
    h2 {font-size: 9px;}
    h3 {font-size: 8px;}
    p  {font-size: 6px;}
    .hero .cta p {font-size: 7px;}
    header .logo img {
        width: 60px; height: auto;
    }
    .button-primary, .button-secondary {
        width: 60px;
        height: 15px;
    }
    .hero {
        .cta {
            gap: 5px;
            width: 145px;
        }
        img {
            width: 145px;
            height: auto;
        }
    }
    .features {
        .card {
            width: 125px;
            .title {
                gap: 3px;
                margin-bottom: 3px;
                img {width: 14px; height: 14px;}
            }
        }   
    }
}